@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Books";

}
<div class="text-center">
    <h1 class="display-4">Books</h1>
    <p>
        Coming in the future...<br />
        ... a list of the books reviewed on this site.
    </p>
    <a href="/Home">Home</a>
</div>
