@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Book Reviews</h1>
    <p>Welcome to the world's most awesome book review site!</p>
    <a asp-controller="Home" asp-action="Recommended">Recommended books</a><br />
    <a asp-controller="Book" asp-action="Review">Write a review</a>
</div>
