@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Book Reviews</h1>
    <p>Welcome to my new book review site!</p>
    <p>Come back soon and write some reviews.</p>
</div>

