@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Reviews</h1>
    <p>Welcome to the world's most awesome book review site!</p>
    <a asp-controller="Home" asp-action="Recommended">Recommended Books</a>
</div>
