@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Book Reviews</h1>
    <p>Welcome to my humble book review site!</p>
    <a asp-controller="Home" asp-action="Recommended">Recommended Books</a><br />
    <a href="/Book">Books reviewd on this site</a><br />
    <a href="/Review">Read or add book reviews</a>
</div>
