@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Book Reviews</h1>
    <p>Welcome to my humble book review site!<br />
        This is a work in progress.<br />
        Every branch will have more features!</p>
    <p><a asp-controller="Home" asp-action="Recommended">Recommended Books</a></p>
    <a href="/Book">Books reviewed on this site</a><br />
    <a href="/Review">Read or add book reviews</a><br />
    <a href="/Book/Quiz">Test your konwledge</a>
</div>
