@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">List of Books</h1>
    <p>A list of all the books reviewed on this site.</p>
</div>
<a href="Review">Add a Review</a>