@{
    ViewData["Title"] = "Reviews";
}

<div class="text-center">
    <h1 class="display-4">Reviews</h1>
    <p>
        All the reviews users have posted.<br />
        ... coming soon.
    </p>
    <a href="/Review/Review">Add a Review</a><br />
    <a href="/Home">Home</a>
</div>